.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}

// What if I told you my header margins? Is that so bad?
h1,h2,h3,h4,h5,h6,p {
  margin: 0;
}


// Browser Compatability
html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font-family: proxima, helvetica, sans-serif;
}

.pure-g {
  font-size: 0;
  [class *= "pure-u"] {
    box-sizing: border-box;
    font-size: 16px;
    &.l-box {
      padding: 1em;
    }
  }
}


