// Browser Compatability
html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font-family: proxima, helvetica, sans-serif;
}

.pure-g {
  font-size: 0;
  [class *= "pure-u"] {
    box-sizing: border-box;
    font-size: 16px;
    &.l-box {
      padding: 1em;
    }
  }
}

// responsive tables
.table-responsive {
  overflow: scroll;
}

// Buttons
.pure-button {
  &.primary,
  &.secondary,
  &.success,
  &.error,
  &.warning {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  }
  &.primary {
    background-color: $blue;
  }
  &.secondary {
    background-color: $sky-blue;
  }
  &.success {
    background-color: $green;
  }
  &.error {
    background-color: $red;
  }
  &.warning {
    background-color: $yellow;
  }
  &.small {
    font-size: 70%;
  }
  &.large {
    font-size: 130%;
  }
}

.pure-well {
  background: #F0F0F0;
  border: 1px solid #E6E6E6;
  padding: 20px;
  border-radius: 2px;
}
